body {
    font-size: 16px;
  }
  
  #header-nav {
    border-radius: 0;
    border: 2px solid #000;
    background-color: #999;
  }
  
  .navbar-brand {
    font-size: 2em;
    font-weight: bold;
    color: #000 !important;
  }
  
  #nav-list {
    margin: 0;
    background-color: #fff; 
    width: 100%;
  }
  
  #nav-list > li {
    border-top: 1px solid #000;
  }
  
  #nav-list > li > a {
    color: #000;
    font-weight: bold;
  }
  
  #top-heading {
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: bold;
  }
  
  .menu-section {
    background-color: #999999d0;
    border: 2px solid #000;
    padding: 15px;
    margin-bottom: 30px;
    min-height: 100px; 
    height: auto;
  }
  
  .menu-section h2 {
    margin-top: 5px;
    font-weight: bold;
  }
  